
@model IEnumerable<dihiddieDiary.Models.Diary.PostViewModel>

<div class="postcontainer">
    <p>Ну-ка, фрукты, станьте в ряд</p>
    <ul>
        @{
            if (Model != null)
            {
                foreach (var t in Model)
                 {
                     <li>t.Title</li>
                 }
            }
        }
    </ul>
</div>