@{
    ViewBag.Title = "Дневник";
}

<link href="~/Content/LayoutStyle.css" rel="stylesheet" type="text/css" />
<div class="content">
    <div class="row">
        <div class="col-lg-11">
            @Html.Partial("PartialDiary", new string[] { "123", "456", "789" })

            123123123123123123213123121212323122131311231312312313
            123123123123123123213123121212323122131311231312312313
            123123123123123123213123121212323122131311231312312313
            123123123123123123213123121212323122131311231312312313
            123123123123123123213123121212323122131311231312312313
            123123123123123123213123121212323122131311231312312313
            123123123123123123213123121212323122131311231312312313
            123123123123123123213123121212323122131311231312312313
            123123123123123123213123121212323122131311231312312313
            123123123123123123213123121212323122131311231312312313
            123123123123123123213123121212323122131311231312312313
            123123123123123123213123121212323122131311231312312313
            123123123123123123213123121212323122131311231312312313
        </div>
        <div class="col-lg-1">
            <div class="marker">
                <div class="fixedmarker">
                    <button type="button" class="btn btn-success">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                    <div class="fixedmarker fixednext">
                        <button type="button" class="btn btn-warning">
                            <span class="glyphicon glyphicon-cog"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>